{% extends 'layout.html' %}
{% block body %}


  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/home-bg.jpg') }})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1 style="color:green;">ADMIN PANEL</h1>
            <span class="subheading">Do modifications</span>
          </div>
        </div>
      </div>
    </div>
  </header>


          <!-- Flash Messages starts here -->
          {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
          {% for category, message in messages %}
          <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          {% endfor %}
          {% endif %}
          {% endwith %}

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

          <h1>Add/Edit Posts</h1>
          <a href="/dashboard"<button class="btn btn-primary">Dashboard Home</button></a>
          <a href="/logout"<button class="btn btn-primary">logout</button></a>
          <form name="sentMessage" id="contactForm" action='/edit/{{serialnum}}' method='POST' novalidate>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Title</label>
                <input type="text" class="form-control" placeholder="Title" name='title' id="title" value="{{post.title}}" required data-validation-required-message="Please enter your name.">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Tagline</label>
                <input type="text" class="form-control" placeholder="Tagline" name='tline' id="tline" value="{{post.tagline}}" required data-validation-required-message="Please enter your email address.">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group col-xs-12 floating-label-form-group controls">
                <label>Slug</label>
                <input type="text" class="form-control" placeholder="Slug" name='slug' id="slug" value="{{post.slug}}" required data-validation-required-message="Please enter your phone number.">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Content</label>
                <textarea rows="8" cols="80" class="form-control" placeholder="Contents" name='content' id="content" required data-validation-required-message="Please enter a message.">{{post.content}}</textarea>
                <p class="help-block text-danger"></p>
              </div>
              <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                  <label>Image File</label>
                  <input type="text" class="form-control" placeholder="Image File" name='img_file' id="img_file" value="{{post.img_file}}" required data-validation-required-message="Please enter a message.">
                  <p class="help-block text-danger"></p>
                </div>
            </div>
            <br>
            <div id="success"></div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary" id="sendMessageButton">Submit</button>
            </div>
          </form>

      </div>
    </div>
  </div>

  {% endblock %}
